<footer>
    <nav>
        <button class="green">
            <a routerLink="">
                <img class="vector" src="assets\icon\Vector.png" alt="list icon">
            </a>
        </button>
    
        <button class="yellow">
            <a routerLink="création">
                <img src="assets\icon\4115237_add_plus_icon (2) 1.png" alt="plus icon"
                ></a>
        </button>
    
        <button class="pink">
            <a routerLink="hisotry">
                <img src="assets\icon\392529_alarm_alert_clock_event_history_icon (1) 1.png" alt="alarm icon">
            </a>
        </button>
    </nav>
</footer>
